* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  border: 0;
  font-family: sans-serif;
  font-weight: 300;
  font-style: normal;
  box-sizing: border-box;
}

body,
html {
  width: 100%;
}

body {
  font-size: 62.5%;
  background: #1f2428;
  color: white;
  letter-spacing: 0.05rem;
}

h1 {
  font-size: 3rem;
  letter-spacing: 0.1rem;
}

h2,
label {
  margin-bottom: 1rem;
  color: #0091a5;
  text-transform: uppercase;
}

h2,
.category {
  padding: 1rem 1rem 0;
}

h3,
h2 {
  font-size: 1.1rem;
}

h3 {
  margin-bottom: 1rem;
}

p {
  font-size: 1.4rem;
}

.container {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
}

.card,
header {
  background: #282f34;
}

header {
  padding: 1rem 0 9px;
  margin-bottom: 2rem;
}

header ul {
  list-style: none;
  display: flex;
  margin: 1rem 0 0;
}

header li a {
  padding: 9px 0;
  margin: 0 2rem 0 0;
  cursor: pointer;
  color: white;
  position: relative;
  font-size: 0.9rem;
}

header li a:hover:after,
.activeNav:after {
  content: '';
  position: absolute;
  bottom: 0px;
  left: 0;
  width: 100%;
  height: 2px;
  background: #0091a5;
}

.grid > div {
  margin: 1rem 0 0 1rem;
  flex: 1;
}

.category {
  margin: 1rem 0;
}

.caption,
h3,
.menu,
button,
.label p {
  font-size: 0.7rem;
  color: #656b6e;
  text-transform: uppercase;
}

text {
  fill: #656b6e;
}

.grid {
  display: flex;
  margin: 0 0 1rem -1rem;
}

.chart-container {
  height: 200px;
}

svg {
  width: 100%;
  height: 100%;
}

rect {
  fill: #0091a5;
  stroke: #0091a5;
}

.tooltip {
  display: block;
  background: #fff;
  border-radius: 5px;
}

rect:hover {
  fill: #66bdc9;
}

.efficiency {
  font-size: 0.8rem;
  margin-left: 0.5rem;
}

.login {
  width: 250px;
  margin: 0 auto;
}

label {
  display: block;
  margin: 1rem 0;
}

input,
button {
  display: block;
  padding: 0.5rem 1rem;
  margin: 1rem 0;
  width: 100%;
  border-radius: 4px;
}

button {
  background: #0091a5;
  cursor: pointer;
  color: white;
}

.progress {
  background: #282f34;
  width: 100%;
  position: relative;
}

.progress {
  border-top: 0.2rem solid #1f2428;
}

.label {
  z-index: 2;
  position: relative;
  width: 100%;
  height: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
}

.label p {
  color: white;
}

.progress-bar,
.progress-bar-second {
  z-index: 0;
  position: absolute;
  top: 0;
  left: 0;
  height: 30px;
  background: #0091a5;
}

.progress-bar-second {
  background: #66bdc9;
  top: 30px;
}

.error {
  color: red;
  text-align: center;
  font-size: 1rem;
}

@keyframes a {
  to {
    transform: rotate(180deg);
  }
}

.loader:before {
  content: '';
  box-sizing: border-box;
  position: fixed;
  top: calc(50% - 15px);
  left: calc(50% - 15px);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #fff;
  border-bottom-color: #fff;
  animation: a 0.8s ease infinite;
}

form {
  display: flex;
  align-items: center;
  height: 100vh;
}

.form-container {
  flex: 1;
}
